.wrapperTypeActivities {
    background-color: black;
    border-radius: 5px;
    
}
.recharts-polar-radius-axis-tick, .recharts-polar-grid-angle, .angleAxis, .recharts-polar-radius-axis {
    display: none;
}

.recharts-polar-angle-axis-tick-value {
    font-size: 13px;
    width: 20px;
}